.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 2px;
    aspect-ratio: 1 / 1;
    width: 90vmin;
    height: 90vmin;
    max-width: 500px;
    max-height: 500px;
    background-color: #000000;
    padding: 2px;
    box-sizing: border-box;
}


.preview {
    background-color: #555555 !important;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: black;
    transition: background-color 0.2s;
}
